<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">

    <header class="blog-post-header">

      <h2 class="title mb-2">{{ article.title }}</h2>

      <div class="meta mb-3">
        <span class="date">Published: {{ article.date.toDate() | date }}</span>
        <span class="time">5 min read</span>
      </div>

    </header>

    <main class="blog-post-body">

      <figure class="blog-banner">
        <img class="img-fluid" [src]="article.imageUrl" alt="">
      </figure>

      <p>
        {{ article.content }}
      </p>

    </main>

  </div>
</article>
